ul{
    list-style-type: none;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    overflow:hidden;
    padding: 10px;
    margin: 5px;
}

li{
    float: left;
}
a{
    text-decoration: none;
    color:#008CBA;
}
li a{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666;
}

.nav-right{
    float: right;
}

li a:hover{
    background-color: #dddddd;
}
li a.active{
    background-color:  rgb(76, 175, 80);
    color: white;
    }

div:not(.searchbar,.mytable){
    border: 2px dotted;
    background-color:lightgray;
    border-radius: 15px;
    box-shadow: -15px -15px 0px dimgrey;
    background-image: radial-gradient(red,green)
}

table{
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: green;
    color:white;
}
thead tr{
    text-align: center;
}
tbody tr:nth-child(even){
    background-color: lightgray;
}
.searchbar{
    width:30%;
    height:auto;
    display:flex;
    border:1px;
    border-style: solid;
    border-color:lightgray;
    margin:8px auto;
    border-radius:15px 10px 15px;
    display:flexbox;
}
.searchbox{
    width:90%;
    padding:0px 30px;
    border:2px;
    border:lightgray;
    margin: 0 2px;
    outline:none;
}

.searchbar:hover{
    box-shadow:5px 5px 0 dimgrey;
    border-color:black;
}
